/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [SiteID]
      ,[Build]
      ,[TouchedBy]
      ,[TouchedWhen]
      ,[CreatedBy]
      ,[CreatedWhen]
      ,[Active]
      ,[GUID]
      ,[ClientGUID]
      ,[BedGUID]
      ,[VisitGUID]
      ,[RecordedAt]
      ,[DevIntfVal1]
      ,[DevIntfVal2]
      ,[DevIntfVal3]
      ,[DevIntfVal4]
      ,[DevIntfVal5]
      ,[DevIntfVal6]
      ,[UOMOfVal1]
      ,[UOMOfVal2]
      ,[UOMOfVal3]
      ,[UOMOfVal4]
      ,[UOMOfVal5]
      ,[UOMOfVal6]
      ,[DataTypeOfVal1]
      ,[DataTypeOfVal2]
      ,[DataTypeOfVal3]
      ,[DataTypeOfVal4]
      ,[DataTypeOfVal5]
      ,[DataTypeOfVal6]
      ,[HostName]
      ,[DeviceName]
      ,[DeviceObjLabel]
      ,[MSrepl_tran_version]
      
DELETE
  FROM [SXAPROD].[dbo].[SCMDevIntfData]
  WHERE VisitGUID = '9000230092000270' AND RecordedAt < '2011-12-05 13:00:00.000'